@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Libre+Baskerville:wght@700&family=Poppins:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bree serif;
}
main{
    margin: 0;
    background: #cdd8dd;
    overflow: hidden;
    background: -webkit-linear-gradient(left, #cdd8dd,#b4bec3);
}
::selection{
    background: rgba(0, 84, 165, 0.3);
}
.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 124px auto;
}
.wrapper{
    width: 100%;
    border-radius: 5px;
    background: #cdd8dd;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}
.wrapper .tittle{
    height: 70px;
    background: #0054a5;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 35px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form{
padding: 30px 25px 25px 25px;
}
.wrapper form .row input{
    margin: 5px auto;
    height: 40px;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 10px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus{
    border-color: #0054a5;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 84, 165, 0.25);
}
form .row input::placeholder{
    color: #999;
}
.wrapper form .row i{
    margin: 5px auto;
    position: absolute;
    width: 47px;
    height: 40px;
    color: white;
    font-size: 20px;
    background-color: #034787;
    border: 1px solid #034787;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper form .pass{
    margin: -6px 0 20px 0;
}
.wrapper form .pass a{
    color: #0054a5;
    font-size: 17px;
    text-decoration: none;
}
form .pass a:hover{
    text-decoration: underline;
}
.wrapper form .button input{
    color:white;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #034787;
    border: 1px solid #034787;
    cursor: pointer;
}
form .button input:hover{
    background: #034787;
}
.wrapper form .signup-link,
.wrapper form .signin-link{
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}
.wrapper form .signup-link a,
.wrapper form .signin-link a{
    color: #0054a5;
    text-decoration: none;
}
form .signup-link a:hover,
form .signin-link a:hover{
    text-decoration: underline;
}